<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">



                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexObjektSuper">Объекты</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

@{
    ViewData["Title"] = "CreateObjekt";
}

<h2>Добавить объект</h2>

@model Objekt

<form asp-action="CreateObjektSuper" asp-controller="home">
    <br />

    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <br />
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Address" class="control-label">Адрес</label>
        <br />
        <input type="text" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="CustomerId" class="control-label">Заказчик</label>
        <br />
        <select asp-for="CustomerId" asp-items="ViewBag.Customer"></select>
      
    </div>
    <br />

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
        <a asp-action="IndexObjektSuper" class="btn btn-default"> Вернуться </a>
    </div>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
