<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">



                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexIncidentSuper">Заявки</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

@{
    ViewData["Title"] = "CreateIncidentSuper";
}

<h2>Добавить заявку</h2>

@model Incident

<form asp-action="CreateIncidentSuper" asp-controller="home">
    <br />

    <div class="form-group">
        <label asp-for="ObjektId" class="control-label">Объект</label>
        <br />
        <select asp-for="ObjektId" asp-items="ViewBag.Objekt"></select>

    </div>
    <br />

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <br />
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="UserId" class="control-label">Ответсвенный сотрудник</label>
        <br />
        <select asp-for="UserId" asp-items="ViewBag.User"></select>

    </div>
    <br />

    <div class="form-group">
        <label asp-for="StatusId" class="control-label">Статус</label>
        <br />
        <select asp-for="StatusId" asp-items="ViewBag.Status"></select>

    </div>
    <br />

    <div class="form-group">
        <label asp-for="DateTime" class="control-label">Дата создания</label>
        <br />
        <input type="date" asp-for="DateTime" class="form-control" />
    </div>
    <br />



    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
        <a asp-action="IndexIncidentSuper" class="btn btn-default"> Вернуться </a>
    </div>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}